.user {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc9;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5);
    
 
}
.user:hover{
    box-shadow: 0 20px 60px #f55951bd;
    /*box-shadow: 0 0 10px #0005;*/
    transition: box-shadow 200ms ease;
}
.user_name {
    font-weight: 550;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc9;
}
.user_list{
    display: grid;
    gap: 12px;
    padding-bottom: 15px;
    border-bottom: 15px;
    border-bottom: 1px solid #ccc9;
}
.user_item{
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-weight: 400;
}
.user_span {
    color: #aaa;
    font-weight: 300;
    text-transform: uppercase;
}
.user_item-container{
    display: flex;
    gap: 8px;
}
.user_footer{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
/*estylos al bototn*/
.user_btn{
    width: 35px;
    aspect-ratio: 1;
    border-radius: 5px;
    cursor: pointer;
}
.user_btn:hover{
    transform: scale(1.1);
    transition: transform 200ms ease;
}
.user_btn:last-child{
    background-color: #d85d5d;
    color: white;
}
.user_btn:last-child {
    color: black;
    border: 1px solid #ccc9;
}